* {
    margin: 0%;
    font-family: sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

}
.parent-link {
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    position: absolute;
    background-color: rgb(82, 79, 79);
    visibility: hidden;
}

a {
    color: white;
    display: inline-block;
    padding: 11px;
    text-decoration: none;
}

.fa-solid.fa-house {
    font-size: 15px;
    color: teal;
}

.fa-solid.fa-magnifying-glass {
    padding-top: 10px;
    padding-right: 10px;
}

a:hover {
    background-color: rgb(214, 210, 210);
}



.drop:hover+.parent-link {
    visibility: visible;

}

.main-img {
    width: 100%;
    height: 350;
}

.learn {
    color: white;
    position: relative;
    bottom: 70px;
    left: 10px;
    background-color: black;
    font-size: 25px;
}

.learn:hover {
    color: teal;
}

.our-team {
    text-align: center;
    margin-bottom: 13px;
    margin-top: 0%;
}

.meet {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.jonny {
    margin-top: 15px;
    margin-bottom: 10px;
}

.devision {
    text-align: center;
    margin-top: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grey {
    background-color: #333333;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;


}

.our {
    width: 25%;
    color: white;
    line-height: 25px;

}

.white {
    background-color: white;
    height: 360px;
    width: 25%;
    line-height: 30px;
}

.snow,
.light,
.mountain {
    height: 160px;
    width: 100%x;
    padding-top: 2px;
}

.white h3 {
    padding-left: 20px;
}

.white p {
    padding-left: 20px;
}

.pricing {
    text-align: center;
    margin-top: 10px;
}

.basic {
    border: 1px solid gray;
    text-align: center;
    width: 31%;
}



.pro {
    border: 1px solid gray;
    text-align: center;
    width: 31%;
}

.premimum {
    border: 1px solid gray;
    text-align: center;
    width: 31%;
}

.basic h4 {
    background-color: black;
    color: white;
    padding: 17px;

}

.pro h4 {
    background-color: grey;
    color: white;
    padding: 17px;

}

.premimum h4 {
    background-color: black;
    color: white;
    padding: 17px;
}

.basic p {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
}

.pro p {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
}

.premimum p {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
}


.sign-up {
    background-color: teal;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;

}

.pro h4 {
    background-color: grey;
    color: white;
}

.premimum h4 {
    background-color: black;
    color: white;
}


div.price {
    display: flex;
    justify-content: space-around;
}

.fa-solidfa-location-dot {
    color: teal;
}

.fa-solidfa-phone {
    color: teal;
}

.fa-solidfa-envelope {
    color: teal;
}

.info {
    margin-top: 15px;

    line-height: 40px;

}

.info h1 {
    font-size: 25px;
    text-decoration: underline 5px teal;
}

.info h2 {
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: space-around;
    background-color: #c7bebe;
    margin-top: 30px;
}

.real-form {
    padding: 10px;
    width: 55%;
    background-color: white;
}

input {
    border: none;
    border-bottom: 1px solid rgb(201, 195, 195);
    width: 100%;

}

button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    float: right;
}

.footer {
    width: 100%;

}

.end {
    background-color: black;
    height: 150px;
    line-height: 40px;
    padding-top: 10px;
}

.end h2 {
    text-align: center;
    color: white;
}

.main-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: teal;
    font-size: 25px;

}

.end p {
    text-align: center;
    color: white;
    padding-bottom: 0%;
    margin-bottom: 0px;
}